node_modules/
dist/
.env
*.local
.DS_Store

/generated/prisma
frontend/.next/
frontend/node_modules/
.env*

.next
frontend/.next
backend/*.tsbuildinfo

backend/prisma/seed.js
backend/prisma/seed.js.map
backend/prisma/seed.d.ts

.claude/
*.tsbuildinfo
*.log

CHANGELOG.md
PERUBAHAN-22-SEP-2026.md
RENCANA-KEAMANAN-CYBER.md
RENCANA-PERBAIKAN-SISTEM.md
UAT-CHECKLIST.md
